[CommModule]
SOCKET_TIMEOUT = 5
SEND_BUFFER_SIZE = 1024
RECV_BUFFER_SIZE = 1024
ENABLE_PERIODIC_IDLE_MESSAGE = 0
IDLE_TASK_TIMER = 15

[Logging]
# Optional for ending '/' in relative path. Do not include leading '/', unless from root directory.
Log_Directory = logs/

# Number of log file to rotate the log files. Similar to http://linuxcommand.org/man_pages/logrotate8.html
Backup_Rotate_Count = 7

# Default is INFO . See https://docs.python.org/3/library/logging.html#levels .
Log_Level = INFO

# To log to console when running in non-daemon mode set  to 1, else 0.
Is_Log_To_Console = 1


[LocalAgent]
Port = 5002
# Http 1 makes localagent listen to HTTP protocol
# To enable HTTPS, change Http value to 0
Http = 1
# Set to 1 to run in Demo Mode to Bypass the Comms Module for certain commands & removes need for real Tickets.
Demo_Mode = 0
# White List (comma seperated) of IP Addresses of PNS App Services that are allowed to send certain commands.
PNS_AppServices_IP_WhiteList = 127.0.0.1



[LPR_MODULE]
#maxpark comm module for lpr
LPR_CommModule_IP = 127.0.0.1
LPR_CommModule_Port = 4710
LPR_CommModule_IP_Receive = 127.0.0.1
LPR_CommModule_Port_Receive = 4700
Camera_list = {"camera_mapping":[{"lpr_sn":"7246207a-f4eaa900","maxpark_cam_id":"EN01"},{"lpr_sn":"11111111-11111111","maxpark_cam_id":"1001"},{"lpr_sn":"22222222-22222222","maxpark_cam_id":"1002"},{"lpr_sn":"33333333-33333333","maxpark_cam_id":"1003"},{"lpr_sn":"44444444-44444444","maxpark_cam_id":"1004"},{"lpr_sn":"55555555-55555555","maxpark_cam_id":"1005"},{"lpr_sn":"66666666-66666666","maxpark_cam_id":"1006"},{"lpr_sn":"77777777-77777777","maxpark_cam_id":"1007"},{"lpr_sn":"88888888-88888888","maxpark_cam_id":"1008"},{"lpr_sn":"99999999-99999999","maxpark_cam_id":"1009"}]}

#ftp
lpr_ftp_server = 127.0.0.1
lpr_ftp_user = hadi
lpr_ftp_pswd = hadi123
lpr_ftp_folder = vehicle_plate
lpr_ftp_source = /
#lpr_ftp_destination = C:\Users\john\Desktop\
lpr_ftp_interval = 1

#led display
lpr_led_text_SN = { "message": [ { "text": "<plate_no>" }, { "text": "Welcome" } ] }
lpr_led_text_SX = { "message": [ { "text": "<plate_no>" }, { "text": "Goodbye" } ] }
lpr_led_text_SA = { "message": [ { "text": "<plate_no>" }, { "text": "Please Refer Operator" } ] }
lpr_led_text_SE = { "message": [ { "text": "<plate_no>" }, { "text": "Expired" } ] }
lpr_led_text_SB = { "message": [ { "text": "<plate_no>" }, { "text": "Blacklisted" } ] }
lpr_led_text_TK = { "message": [ { "text": "<plate_no>" }, { "text": "Ticket Issued" } ] }

#lpr backend url
lpr_server_url = http://127.0.0.1:8080/v1